*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
.navbar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.white-color{
    color: #FFFFFF;
}
.linear-color{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text{
    font-size: 2rem;
}
.link{
    display: flex;
    gap: 32px;
}
.link-menu{
    list-style: none;
}
.link-text{
    color: #FFFFFF;
    text-decoration: none;
}
.button{
    padding: 16px;
    border-radius: 1000px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    border: none;
}
.button:hover{
   transform: rotate(15deg) scale(1.05);
}
.hamburger{
    display: none;
}
.hero{
    border-top: 1px solid #a66eef;
    height: 600px;
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    
    max-width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.hero-visual {
    position: relative;
    width: 330px;
    height: 330px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image{
    width: 100%;
    height: 100%;
}
.micro {
    position: absolute;
    width: 120px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.new{
    top: 10px;
    right: 10px;
    background-color: #00ff66; 
    color: #000;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
}
.hero-container h2{
    font-size: 1.8rem;
    color: #FFFFFF;
}
.hero-container p{
    color: #bbb4b4;
}
.hero-buttons{
    display: flex;
    gap: 10px;
}
.hero-buttons .spotify{
     background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
     color: #FFFFFF;
     border: none;
     padding: 16px;
     border-radius: 1000px;
     cursor: pointer;
     font-weight: 600;
}
.hero-buttons .spotify:hover{
    transform: rotate(15deg) scale(1.05);
}
.hero-container .subscribe{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 16px;
    border-radius: 1000px;
    cursor: pointer;
    font-weight: 600;
}
.hero-container .subscribe:hover{
    transform: rotate(15deg) scale(1.05);
}





@media screen and (max-width:576px){
    .navbar{
        justify-content: space-around;
        height: 150px;
        
    }
    .link-menu,.button{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 1.25rem;
        cursor: pointer;
    }
    .hero{
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .hero-container{
        margin: 0;                
        width: 280px;
        height: 280px;
    }
    .hero-visual {
        width: 250px;
        height: 250px;
    }
    .hero-image{
        width: 140px;
        height: 140px;
    }
    .micro{
        width: 50px;
        top: 50%;
        left: 43%;
    }
    .hero-container h2{
        margin-top: 80px;
    }
   
}